@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

.p_1{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 82px;
  font-weight: 700;
  line-height: 20.45px;
  padding-top: 108px; 
}
.p_2{
  color: #8d81ac;
  font-size: 30px;
  font-weight: 300;
  line-height: 20.45px;
  margin-top: -10px;
}
.p_3{
  color: #848e97;
  font-family: Montserrat;
  font-size: 14px;  
  font-weight: 400;
  line-height: 20.45px;
  text-transform: uppercase;
  padding-top: 18px;
}
.b_1{
  margin: 0;
  padding-bottom: 538px;
  background: url(../img/bg_top.png) center center;
  background: cover;
}
.b_2{
  margin-top: -31px;
  padding-bottom: 70px;
}
.btn_2{
  width: 390px;
  height: 62px;
  background-color: #8d81ac;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
  &:hover{
    opacity: 0.9;
    transition: all 0.5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
}
.p1_b2{
  color: #848e97;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 19px;
}
.p2_b2{
  color: #635c73;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 800;
  line-height: 20.45px;
  text-transform: uppercase;
  margin-top: 66px;
}
.p3_b2{
  width: 878px;
  opacity: 0.8;
  color: #323232;
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 39px;
}
